* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../static/bg.jpg);
  overflow: hidden;
}
.container {
  z-index: 2;
  width: 80%;
  height: 80vh;
  margin: 10vh 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5),
    -5px -5px 10px rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#inputurl {
  margin: 10px 5px;
  font-weight: 300px;
  color: #918f8f;
  letter-spacing: 1px;
  text-align: center;
  background-color: transparent;
  padding: 10px;
  width: 400px;
  height: 50px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
#inputurl:focus {
  outline: none;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5),
    inset -3px -3px 6px rgba(255, 255, 255, 0.2);
}

#btn {
  border: none;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 25px;
  width: 30%;
  height: 45px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(50, 192, 192, 0.911);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
#btn:active {
  background-color: rgba(45, 122, 122, 0.493);
  color: #ffffff;
  font-weight: 200;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.8),
    inset -4px -4px 6px rgba(255, 255, 255, 0.3);
}
#btn:focus {
  outline: none;
}
form {
  width: 90vw;
}
h3 {
  color: rgba(138, 135, 135, 0.801);
  transform: translateY(-5vh);
  -webkit-transform: translateY(-5vh);
  -moz-transform: translateY(-5vh);
  -ms-transform: translateY(-5vh);
  -o-transform: translateY(-5vh);
}
.logo {
  box-shadow: 
      /* logo - shadow */ 0px 0px 2px rgba(0, 0, 0, 0.2),
    /*offset*/ 0px 0px 0px 5px rgba(255, 255, 255, 0.281),
    /*sides*/-8px -8px 15px rgba(102, 94, 94, 0),
    8px 8px 15px rgba(0, 0, 0, 1),
    inset 3px 3px 3px rgba(0, 0, 0, 1);
  color: #ffffff;
  width: 70px;
  height: 70px;
  transform: translateY(-20vh);
  z-index: -1;
  display:flex;
  align-items:center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-20vh);
  -moz-transform: translateY(-20vh);
  -ms-transform: translateY(-20vh);
  -o-transform: translateY(-20vh);
}
h4 {
  z-index: -4;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.603);
}
