{% extends "layout.html" %} 

<!--Form division-->
{% block body %}
<form action="/download" method="post">
  <div class="container cont">
    <h3>Youtube Downloader</h3>
    <div class="logo"><h4>YD</h4></div>
    <div class="text">
      <input
        name="download_link"
        type="text"
        id="inputurl"
        placeholder="Enter URL"
      />
    </div>
    <input type="submit" id="btn" value="Download" />
    <!--<button id="btn" class="cont">Download</button>-->
  </div>
</form>
{% endblock %}
